.container{
    box-sizing: border-box;
    background-color: #111;
    padding: 3rem 2rem 1rem 2rem;
}

.title{
    margin: 0;
    font-size: 2rem;
}

.proyect{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    padding: 1rem;
    height: 80vh;
}

.imagen{
    background-color: blue;
    height: 50%;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}