.container{
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.skill{
    padding: 1rem 1rem;
}

.skill_up{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:0 1rem;
    
}

.skill_up > h4 {
    margin: 0;
}

.skill_down {
    height: 5px;
    background-color: #D5CEA3;
    width: 90%;
    margin:0 auto;

    
}