.container{
    
    height: 100vh;
    
    
    
    max-width: 450px;
    margin: 0 auto;
}

.skill{
    box-sizing: border-box;
    padding: 1rem 1rem;
}

.skill_up{
    box-sizing: border-box;
    display: flex;
    
    justify-content: space-between;
    width: 100%;
    padding:0 1rem;
    
}

.skill_up > h4 {
    margin: 0;
}

.skill_down {
    height: 5px;
    background-color: #D5CEA3;
    width: 90%;
    margin:0 auto;

    
}

@media (min-width:576px){
    .container{
        max-height: 600px;
        max-width: 80%;
    }
}
@media (min-width:768px){
    .container{
        height: fit-content;
        max-width: 90%;
        
        flex-direction: row;
    }

    .all_skills{
        display: flex;
        flex-wrap: wrap;
    }

    .skill{
        width: 50%;
    }
}