.container{
    height: 60vh;
    min-height: 400px;
    position: relative;
    
}

.iframe{
    width: 100%;
    right: 0;
    
    height: 65vh;
    position: absolute;
    bottom: 20px;
}



@media (min-width: 576px){

    .container{
        height: 40vh;
    }
    .iframe{
        height: 50vh;
    }
}
@media (min-width: 768px){

    .container{
        height: 40vh;
    }
    .iframe{
        height: 50vh;
    }
}