.container{
    box-sizing: border-box;
    position: fixed;
    background-color: #ddd;
    width: 100%;
    z-index: 2;
}

.nav{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem 1.4rem;
}

.name{
    color: #111;
}

.menu{
    color: #111;
    cursor: pointer;
    font-size: 2rem;
}

.icon_hamburguesa{
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

@media (min-width:576px){
    .container{
        min-width: 576px;
        
    }
    nav{
        max-width: 576px;
    }
}

@media (min-width:768px){
    .nav{
        
        max-width: 700px;
    }
}
